customOVNKubernetesDPUImage: ${OVNKUBERNETES_DPU_IMAGE}:${TAG}
customOVNKubernetesNonDPUImage: ${OVNKUBERNETES_NON_DPU_IMAGE}:${TAG}
dmsImage: ${DMS_IMAGE}:${TAG}
hostNetworkSetupImage: ${HOSTNETWORK_IMAGE}:${TAG}