### DPF contract ###

# configuration for the se
serviceDaemonSet:
#  nodeSelector:
#   nodeSelectorTerms:
#     - matchExpressions:
#         - key: dpu
#           operator: In
#           values:
#             - dpu
  labels: {}
  annotations: {}
  #  k8s.v1.cni.cncf.io/networks: | 
  #   [{"name" : "mybrsfc", "interface" : "p0_sf"}]
  updateStrategy: {}
  #  type: RollingUpdate
  #  rollingUpdate:
  #    maxUnavailable: 1
exposedPorts:
#  labels: {}           # custom labels for the doca-platform
#  ports:
#    exampletcp: false  # name of the port inside the service
#    exampleudp: false  # name of the port inside the service


### Service specific values ###
resources: {}
image:
  repository: ${DUMMYDPUSERVICE_IMAGE}
  pullPolicy: IfNotPresent
  tag: "${TAG}"

imagePullSecrets: []

podSecurityContext: {}

securityContext: {}

tolerations: []
