customOVNKubernetesDPUImage: ${OVNKUBERNETES_DPU_IMAGE}:${TAG}
customOVNKubernetesNonDPUImage: ${OVNKUBERNETES_NON_DPU_IMAGE}:${TAG}
dmsImage: ${DMS_IMAGE}
parprouterdImage: ${PARPROUTERD_IMAGE}
dhcRelayImage: ${DHCRELAY_IMAGE}
hostNetworkSetupImage: ${HOSTNETWORK_IMAGE}