controller:
  config:
    # required, name of the secret that stores credentials and connection details for DPU cluster
    dpuClusterSecret: ""
    # controls in which namespace to search for StorageVendor and StoragePolicy CRs
    configNamespace: "nvidia-storage"
  # image settings
  image:
    repository: ${STORAGE_SNAP_CONTROLLER_IMAGE}
    # if not set the .Chart.AppVersion is used
    tag: ${TAG}
  # count of replicas for controller pod
  replicas: 1
  # podAnnotations to add to the Pod spec
  podAnnotations: {}
  # podLabels to add to the Pod spec
  podLabels: {}
  # podSecurityContext to add to the Pod spec
  podSecurityContext: {}
  #  runAsNonRoot: true
  # nodeSelector to add to the Pod spec
  nodeSelector: {}
  # tolerations to add to the Pod spec
  tolerations:
    - effect: NoSchedule
      key: node-role.kubernetes.io/control-plane
      operator: Exists
    - effect: NoSchedule
      key: node-role.kubernetes.io/master
      operator: Exists
  # affinity to add to the Pod spec
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: "node-role.kubernetes.io/master"
            operator: Exists
        - matchExpressions:
          - key: "node-role.kubernetes.io/control-plane"
            operator: Exists

# default imagePullSecrets
imagePullSecrets: []
