apiVersion: svc.dpf.nvidia.com/v1alpha1
kind: DPUService
metadata:
  name: flannel
  namespace: dpf-operator-system
spec:
  source:
    repoURL: ${REGISTRY}
    chart: ${FLANNEL_HELM_CHART_NAME}
    version: ${FLANNEL_VERSION}
