apiVersion: svc.dpf.nvidia.com/v1alpha1
kind: DPUService
metadata:
  name: nvidia-k8s-ipam
  namespace: dpf-operator-system
spec:
  helmChart:
    source:
      repoURL: oci://${REGISTRY}
      chart: ${NVIDIA_K8S_IPAM_HELM_CHART_NAME}-chart
      version: ${TAG}
