apiVersion: svc.dpf.nvidia.com/v1alpha1
kind: DPUService
metadata:
  name: nvidia-k8s-ipam
  namespace: dpf-operator-system
spec:
  source:
    repoURL: ${REGISTRY}
    chart: ${NVIDIA_K8S_IPAM_HELM_CHART_NAME}
    version: ${TAG}