apiVersion: svc.dpf.nvidia.com/v1alpha1
kind: DPUService
metadata:
  name: ovs-cni
  namespace: dpf-operator-system
spec:
  source:
    repoURL: ${HELM_REPO}
    chart: ${OVS_CNI_HELM_CHART_NAME}
    version: ${TAG}