apiVersion: svc.dpf.nvidia.com/v1alpha1
kind: DPUService
metadata:
  name: servicefunctionchainset-controller
  namespace: dpf-operator-system
spec:
  source:
    repoURL: ${REGISTRY}
    chart: ${SERVICECHAIN_CONTROLLER_HELM_CHART_NAME}
    version: ${TAG}