apiVersion: svc.dpf.nvidia.com/v1alpha1
kind: DPUService
metadata:
  name: sriov-device-plugin
  namespace: dpf-operator-system
spec:
  source:
    repoURL: ${HELM_REPO}
    chart: ${SRIOV_DP_HELM_CHART_NAME}
    version: ${TAG}