## argo-cd, node-feature-discovery and kube-state-metrics are installed as dependencies and configured here.
argo-cd:
  enabled: true
  dex:
    enabled: false
  notifications:
    enabled: false
node-feature-discovery:
  enabled: true
kube-state-metrics:
  enabled: false

controllerManager:
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
  image:
    repository: ${DPF_SYSTEM_IMAGE}
    tag: ${TAG}
  replicas: 1
  serviceAccount:
    annotations: {}
imagePullSecrets: []
