## dpf-operator configuration.
controllerManager:
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
      - ALL
  image:
    repository: ${DPF_SYSTEM_IMAGE}
    tag: ${TAG}
  replicas: 1
  serviceAccount:
    annotations: {}
imagePullSecrets: []
tolerations:
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule
  - key: node-role.kubernetes.io/control-plane
    operator: Exists
    effect: NoSchedule

## installed dependencies except for kamaji.
argo-cd:
  enabled: true
  dex:
    enabled: false
  notifications:
    enabled: false
node-feature-discovery:
  enabled: true

## kamaji configuration.
kamaji-etcd:
  enabled: true
  datastore:
    enabled: true
    name: default
kamaji:
  enabled: true
  etcd:
    deploy: false
  datastore:
    enabled: false
    nameOverride: default
  image:
    pullPolicy: IfNotPresent
  cfssl:
    image:
      tag: v1.6.5

## prometheus configuration.
prometheus:
  enabled: false
  alertmanager:
    enabled: false
  prometheus-node-exporter:
    enabled: false
  prometheus-pushgateway:
    enabled: false
  # We have to disable kube-state-metrics that is a dependency from Prometheus.
  # Adding KSM manually has the benefit that we can only enable KSM, without Prometheus.
  kube-state-metrics:
    enabled: false
  # Scrape metrics from deployed providers
  extraScrapeConfigs: |
    - job_name: 'doca-platform-foundation'
      # 15s is a bit often for production but helps to get metrics quicker for development.
      scrape_interval: 15s
      metrics_path: /metrics
      scheme: https
      authorization:
        type: Bearer
        credentials_file: /var/run/secrets/kubernetes.io/serviceaccount/token
      tls_config:
        ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
        insecure_skip_verify: true
      kubernetes_sd_configs:
        - role: pod
      relabel_configs:
        - source_labels: [__meta_kubernetes_pod_label_dpf_nvidia_com_component]
          action: keep
          regex: ".*-controller-manager"
        - source_labels: [__meta_kubernetes_pod_container_port_name]
          action: keep
          regex: metrics

## grafana configuration
grafana:
  enabled: false
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: prometheus
          type: prometheus
          url: http://dpf-operator-prometheus-server
          access: proxy
          isDefault: true
  dashboardProviders:
   dashboardproviders.yaml:
     apiVersion: 1
     providers:
     - name: 'default'
       orgId: 1
       folder: ''
       type: file
       disableDeletion: false
       editable: true
       options:
         path: /var/lib/grafana/dashboards/default
  dashboardsConfigMaps:
    default: dpf-operator-grafana-dashboards

## kube-state-metrics configuration
kube-state-metrics:
  enabled: false
  extraArgs:
    - --custom-resource-state-config-file=/etc/customresourcestate/config.yaml
  volumes:
    - configMap:
        defaultMode: 420
        name: dpf-operator-customresourcestate-config
      name: customresourcestate-config
  volumeMounts:
    - mountPath: /etc/customresourcestate
      name: customresourcestate-config
      readOnly: true
  rbac:
    extraRules:
      - apiGroups:
          - svc.dpf.nvidia.com
          - operator.dpf.nvidia.com
          - sfc.dpf.nvidia.com
          - provisioning.dpf.nvidia.com
        resources:
          - dpuservices
          - dpuservices/status
          - dpfoperatorconfigs
          - dpfoperatorconfigs/status
          - dpuservicechains
          - dpuservicechains/status
          - dpuserviceinterfaces
          - dpuserviceinterfaces/status
          - dpuserviceipams
          - dpuserviceipams/status
          - dpus
          - dpus/status
          - bfbs
          - bfbs/status
        verbs: ["list", "watch"]
      - apiGroups: ["apiextensions.k8s.io"]
        resources: ["customresourcedefinitions"]
        verbs: ["list", "watch"]

## maintenance-operator chart configuration
maintenance-operator-chart:
  enabled: true
  operator:
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: "node-role.kubernetes.io/master"
                  operator: Exists
            - matchExpressions:
                - key: "node-role.kubernetes.io/control-plane"
                  operator: Exists
